:80 {

    encode zstd gzip
    reverse_proxy text-generation-webui:5020 text-generation-webui:5021 text-generation-webui:5022 text-generation-webui:5023 text-generation-webui:5024 text-generation-webui:5025 text-generation-webui:5026 text-generation-webui:5027 text-generation-webui:5028 text-generation-webui:5029
}
